# Configuration de la Base de Données
# Format: postgresql://user:password@host:port/database
DATABASE_URL="postgresql://user:password@localhost:5432/product_management"

# Environnement
NODE_ENV=development

# Serveur
PORT=3000
